h1, h2, h3, p, ol, ul, body {
    margin: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1292px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* ширина экрана >= 576px */
@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

/* ширина экрана >= 768px */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* ширина экрана >= 1024px */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* ширина экрана >= 1292px */
@media (min-width: 1292px) {
    .container {
        max-width: 1292px;
    }
}

.color {
    background-color: red;
}
.page {}
.page__cell {
    margin-bottom: 30px;
}

.example-text {
    background-color: yellow;
    font-size: 32px;
    font-weight: 400;
    padding: 16px;
}

/* ширина экрана >= 1292px */
@media (min-width: 1292px) {
    .example-text {
        font-size: 32px;
    }
}

/* ширина экрана >= 1024px */
@media (min-width: 1024px) {
    .example-text {
        padding: 16px;
        font-size: 24px;
    }
}

/* ширина экрана >= 768px */
@media (min-width: 768px) {
    .example-text {
        padding: 12px;
        font-size: 14px;
        font-weight: 700;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    gap: 20px;
    padding: 0 100px;
}

.gallery__item {
    height: 200px;
    background-color: beige;
}

/* Дополнительные стили для мобильных устройств */
@media (max-width: 575px) {
    .gallery {
        padding: 0 8px;
    }

    .gallery__item {
        height: 150px;
    }
}

/* Дополнительные стили для планшетов */
@media (min-width: 576px) and (max-width: 767px) {
    .gallery__item {
        height: 180px;
    }
}

/* Дополнительные стили для экранов >= 1024px */
@media (min-width: 1024px) {
    .gallery__item {
        height: 250px;
    }
}

/* Дополнительные стили для экранов >= 1292px */
@media (min-width: 1292px) {
    .gallery__item {
        height: 300px;
    }
}
