h1, h2, h3, p, ol, ul, body {
    margin: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}

/* Ширина экрана >= 576px */
@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

/* Ширина экрана >= 768px */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Ширина экрана >= 1024px */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* Ширина экрана >= 1292px */
@media (min-width: 1292px) {
    .container {
        max-width: 1292px;
    }
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 0 16px; 
}

.gallery__item {
    height: 200px;
    background-color: beige;
}

/* Дополнительные стили для мобильных устройств */
@media (max-width: 575px) {
    .gallery {
        padding: 0 8px;
    }

    .gallery__item {
        height: 150px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .gallery__item {
        height: 180px;
    }
}


@media (min-width: 1024px) {
    .gallery__item {
        height: 250px;
    }
}
